<%= form_with model: [@project, @issue], local: true do |f| %>
  <div class="mb-3">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, rows: 5, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :status, "Status" %>
    <%= f.select :status, ['Active', 'On hold', 'Resolved', 'Closed'], {}, class: 'form-select' %>
  </div>



  <div class="d-flex justify-content-between">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', project_path(@project), class: 'btn btn-secondary' %>
  </div>
<% end %>
