<h1>Projects</h1>

<div class="mb-3">
  <%= link_to "Create new project", new_project_path, class: "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date created</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project_path(project) %></td>
      <td><%= project.created_at.strftime("%Y-%m-%d") %></td>
      <td>
        <% if project.user == current_user %>
          <%= link_to "Edit", edit_project_path(project), class: "btn btn-sm btn-secondary me-1" %>
          <%= button_to "Delete", project_path(project), method: :delete,
                        data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
